
<div class="my-5 p-5 border border-1">
    <form action="/PieChart/Index" method="post">
        <input type="text" name="Label" class="form-control mb-3" />
        <input type="text" name="Series" class="form-control mb-3" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>