@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="my-5 p-5 border border-1">
    <form action="/Home/Index" method="post">
        <input type="text" name="Data" class="form-control mb-3" />
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
