
<section class="m-5 p-5 border bordered-1">
    <h2 class="mb-5">Create</h2>
    <form action="/Blog/Save" method="post" >
        <div class="mb-3">
            <label class="form-label"> Title : </label>
            <input type="text" class="form-control" name="BlogTitle" />
        </div>
        <div class="mb-3">
            <label class="form-label"> Author : </label>
            <input type="text" class="form-control" name="BlogAuthor" />
        </div>
        <div class="mb-3">
            <label class="form-label"> Content : </label>
            <input type="text" class="form-control" name="BlogContent" />
        </div>
        <a href="/Blog" class="btn btn-secondary" >Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</section>

