@{
    Layout = "_Login-Layout";
}


<div class="border border-1 m-5 p-5 mx-auto w-50">
   <form action="/Login" method="post"> 
        <input type="text" name="UserName" class="form-control mb-3" placeholder="Enter user name " />
        <input type="password" name="Password" class="form-control mb-3" placeholder="Enter password " />
        <button class="btn btn-primary" type="submit">Login</button>
   </form>
</div>
